<div class="d-flex justify-content-center align-items-center "style="height:90vh;">
    <div class="w-75 border shadow p-3">
        <h2 class="text-center mt-2">Edit Employee Details</h2>
        <form action="" #empForm="ngForm" (ngSubmit)="handleEdit()">
            <input type="number" #id="ngModel" readonly [(ngModel)]="employee.id" placeholder="ID" name="id" class="form-control mb-3">
            <input type="text" #empname="ngModel" [(ngModel)]="employee.name" required  pattern="[a-zA-Z .]+" placeholder="Employee Name" name="ename" class="form-control mb-3">
            <p *ngIf="empname.invalid && empname.touched" class=" text-danger">
                *Invalid Name
                            </p>
            <input type="text" #empphone="ngModel" [(ngModel)]="employee.phone" required pattern="^[9876][0-9]{9}" placeholder="Phone Number" name="ph" class="form-control mb-3">
            <p *ngIf="empphone.invalid && empphone.touched" class=" text-danger">
                *Invalid Phone Number
                            </p>
            <select name="dept" #empdept="ngModel" id="" [(ngModel)]="employee.department" required name="dept" class="form-control mb-3">
                
                <option value=""selected disabled>Select Department</option>
                <option value="IT">IT</option>
                <option value="Account">Account</option>
                <option value="HR">HR</option>
                <option value="Sales">Sales</option>
            </select>
            <p *ngIf="empdept.invalid && empdept.touched" class=" text-danger">
                *Invalid Depatment
                            </p>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn btn-success"[disabled]="empForm.invalid" >Update</button>
                <a routerLink="/empmng" class="btn btn-danger">Cancel</a>

            </div>
        </form>
    </div>

</div>