<div class="d-flex justify-content-center align-items-center " style="height:90vh;">
    <div class="w-75 border shadow p-3">
        <h2 class="text-center mb-2">Add Employee Details</h2>
        <form #empForm="ngForm" action="" (ngSubmit)="onSubmit()">
            <input type="text" #empid="ngModel" placeholder="ID" [(ngModel)]="formData.id" pattern="[0-9]+" required name="id" class="form-control mb-3">
            <p *ngIf="empid.invalid && empid.touched" class=" text-danger">
*Invalid ID
            </p>
            <input type="text" #empname="ngModel" placeholder="Employee Name" [(ngModel)]="formData.name" required pattern="[a-zA-Z. ]+" name="ename"
                class="form-control mb-3">
                <p *ngIf="empname.invalid && empname.touched" class=" text-danger">
                    *Invalid Name
                                </p>
            <input type="text" #empphone="ngModel" required pattern="^[9876][0-9]{9}" placeholder="Phone Number" [(ngModel)]="formData.phone" name="ph"
                class="form-control mb-3">
                <p *ngIf="empphone.invalid && empphone.touched" class=" text-danger">
                    *Invalid Phone
                                </p>
            <select name="dept" id="" #empdept="ngModel" [(ngModel)]="formData.department" required class="form-control mb-3">
                <option value="" selected disabled>Select Department</option>
                <option value="IT">IT</option>
                <option value="Account">Account</option>
                <option value="HR">HR</option>
                <option value="Sales">Sales</option>
            </select>
            <p *ngIf="empdept.invalid && empdept.touched" class=" text-danger">
                *Invalid Department
                            </p>
            <div class="d-flex justify-content-between mb-3">
                <button class="btn btn-success" [disabled]="empForm.invalid">Submit</button>
                <a routerLink="/empmng" class="btn btn-danger">Cancel</a>

            </div>
        </form>
    </div>

</div>