<div style="height: 91.5vh;" class="bg-dark d-flex align-items-center w-100">
    <div class="d-flex mx-auto h-25 flex-column justify-content-around  align-items-center" style="text-align: justify;">
        <a routerLink="/dash" class="text-decoration-none text-light">Home</a>
        <a routerLink="/empmng" class="text-decoration-none text-light">Employee</a>
        <button class="btn text-light" (click)="lgOut()" >
            <i class="fa-solid fa-right-from-bracket" style="color: #f20736;"></i>
            Logout
        </button>
    </div>
</div>
