.banner{
background-image:url('https://static.vecteezy.com/system/resources/thumbnails/004/288/148/small_2x/sale-banner-poster-flyer-design-with-pattern-on-dark-black-canvas-and-grunge-texture-background-modern-design-backdrop-template-for-advertisement-social-and-fashion-ads-free-vector.jpg') ;
background-repeat: no-repeat;
background-size: cover;
}